/* Checkout */

position: relative;
width: 1440px;
height: 1024px;
overflow-y: scroll;

background: #EDEDED;
border-radius: 16px;


/* Content-Frame */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 871px;
height: 1818px;
left: 102px;
top: 56px;
overflow-y: scroll;



/* Address-Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 871px;
height: 230px;

/* UI/White */
background: #FFFFFF;
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 413px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Shipping Address */

width: 397px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Conent */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 839px;
height: 136px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Current-Address */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

margin: 0 auto;
width: 227px;
height: 136px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* John Maker */

width: 98px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 123 Plae Grond Stret */

width: 172px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vermont, California */

width: 163px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* United States of America */

width: 211px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 114px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 98px;
height: 35px;

/* UI/Dark */
border: 1px solid #1A1F16;
border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 50px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Address-Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 871px;
height: 214px;

/* UI/White */
background: #FFFFFF;
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

width: 385px;
height: 54px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Payment Method */

width: 369px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Conent */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;

width: 839px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Current-Address */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 16px;

margin: 0 auto;
width: 384px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 250px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 15.62%;
bottom: 15.62%;

/* Font/Dark */
background: #1A1F16;


/* Mastercard ending in 1252 */

width: 218px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Gift-Card */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 236px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 31.25%;
right: 31.25%;
top: 12.5%;
bottom: 71.88%;



/* Vector */

position: absolute;
left: 9.38%;
right: 9.38%;
top: 6.31%;
bottom: 6.25%;

/* Font/Dark */
background: #1A1F16;


/* $ 53.21 gift card balance */

width: 202px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Billing Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 368px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 368px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox-Input */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox-Input */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* UI/Tertiary */
border: 1px solid #60695C;
border-radius: 2px;


/* Inner */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Font/Accent */
background: #12805D;
border-radius: 1px;


/* Label */

width: 344px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Change Billing Address */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

display: none;
width: 192px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Change Billing Address */

width: 192px;
height: 24px;

font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-decoration-line: underline;

/* Font/Placeholder */
color: rgba(26, 31, 22, 0.5);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 114px;
height: 51px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 98px;
height: 35px;

/* UI/Dark */
border: 1px solid #1A1F16;
border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 50px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content-Frame */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 871px;
height: 1326px;
overflow-y: scroll;

/* UI/White */
background: #FFFFFF;
border-radius: 13px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 8px 8px 24px;
gap: 16px;

width: 391px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Review youR Bag */

width: 375px;
height: 38px;

/* Subtitle/Small/Regular/Expanded */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */
letter-spacing: 0.25em;
text-transform: uppercase;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bag-Contents */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 8px;
gap: 8px;

width: 839px;
height: 1216px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 823px;
height: 288px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Product-Image */

width: 203.54px;
height: 254px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

position: absolute;
left: 0%;
right: 0%;
top: -15.5%;
bottom: -15.5%;

background: url(.png);


/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 555.46px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 539.46px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 166px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item Name */

width: 150px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 67px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item Type */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star-01 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-02 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-03 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-04 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-05 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805D;


/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805D;


/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 135px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 9.99 */

width: 82px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #E5252C;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02D693;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02D693;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 3 */

width: 823px;
height: 0px;

/* UI/Placeholder */
border: 1px solid rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 823px;
height: 288px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Product-Image */

width: 203.54px;
height: 254px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);


/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 555.46px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 539.46px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 101px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item Type */

width: 85px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star-01 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-02 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-03 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-04 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-05 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805D;


/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805D;


/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 132px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 9.99 */

width: 75px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #E5252C;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02D693;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02D693;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 4 */

width: 823px;
height: 0px;

/* UI/Placeholder */
border: 1px solid rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 823px;
height: 288px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Product-Image */

width: 203.54px;
height: 254px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);


/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 555.46px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 539.46px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 116px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item Type */

width: 100px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star-01 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-02 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-03 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-04 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-05 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805D;


/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805D;


/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 125px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 9.99 */

width: 72px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #E5252C;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 7px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02D693;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02D693;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 5 */

width: 823px;
height: 0px;

/* UI/Placeholder */
border: 1px solid rgba(26, 31, 22, 0.5);

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Item-In-Bag */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 24px;
gap: 16px;

width: 823px;
height: 288px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Product-Image */

width: 203.54px;
height: 254px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Image */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(.png);


/* Content-Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 555.46px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 539.46px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 137px;
height: 38px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Item Name */

width: 121px;
height: 38px;

/* Subtitle/Small/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 38px;
/* identical to box height */

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Subtitle */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 127px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Item Type */

width: 111px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Small Description */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam */

width: 525px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rating */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 8px;

width: 539.46px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Stars */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px 0px 0px;
gap: 8px;

width: 168px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Star-01 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-02 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-03 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-04 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Vector */

position: absolute;
left: 3.13%;
right: 3.12%;
top: 6.25%;
bottom: 6.24%;

/* Font/Accent */
background: #12805D;


/* Star-05 */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
border: 2px solid #12805D;


/* Vector */

position: absolute;
left: 6.25%;
right: 50%;
top: 9.38%;
bottom: 9.38%;

/* Font/Accent */
background: #12805D;


/* 4.5 / 5 */

width: 51px;
height: 24px;

/* Body/Normal/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: -0.02em;

/* Font/Accent */
color: #12805D;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price-Rating */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px;
gap: 10px;

width: 539.46px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 129px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 9.99 */

width: 72px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* x */

width: 10px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Quantity */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px;
gap: 10px;

margin: 0 auto;
width: 127px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Price */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 111px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Increase-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Danger */
border: 2px solid #E5252C;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 1 */

width: 11px;
height: 24px;

/* Body/Normal/Regular/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Decrease-Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 8px;

width: 34px;
height: 34px;

border-radius: 9px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 20.83%;
bottom: 20.83%;

/* Font/Success */
border: 2px solid #02D693;


/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Font/Success */
border: 2px solid #02D693;


/* Button */

display: none;
width: 45px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

position: absolute;
width: 111px;
height: 40px;
left: 1207px;
top: 403px;

/* Font/Dark */
border: 1px solid #1A1F16;
border-radius: 11px;


/* Icon */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 35.94%;
right: 35.94%;
top: 21.88%;
bottom: 21.88%;

/* Font/Dark */
border: 2px solid #1A1F16;


/* Button */

width: 31px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Dark */
color: #1A1F16;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Total-Summary */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 16px;

position: absolute;
width: 243px;
height: 319px;
left: 1075px;
top: 59px;

/* UI/White */
background: #FFFFFF;
border-radius: 12px;


/* Line-01 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 138px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Order Summary */

width: 138px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line-02 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 211px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Items: */

margin: 0 auto;
width: 40px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 5849.37 */

margin: 0 auto;
width: 67px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line-03 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 211px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Shipping: */

margin: 0 auto;
width: 61px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 6.99 */

margin: 0 auto;
width: 42px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line-04 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 211px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Estimated GST: */

margin: 0 auto;
width: 99px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 760.41 */

margin: 0 auto;
width: 56px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line-05 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 211px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Gift Card: */

margin: 0 auto;
width: 61px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 0.00 */

margin: 0 auto;
width: 48px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/Tertiary */
color: #60695C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

width: 211px;
height: 0px;

/* UI/Light */
border: 1px solid #BFD1E5;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Total */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 8px;

width: 211px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Order Total: */

margin: 0 auto;
width: 100px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Danger */
color: #E5252C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* $ 6609.78 */

margin: 0 auto;
width: 91px;
height: 24px;

/* Body/Normal/Medium/Normal */
font-family: 'Cabin';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

/* Font/Danger */
color: #E5252C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Divider */

width: 211px;
height: 0px;

/* UI/Light */
border: 1px solid #BFD1E5;

/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 8px;

width: 211px;
height: 35px;

/* UI/Dark */
background: #1A1F16;
border-radius: 11px;

/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;


/* Button */

width: 105px;
height: 19px;

/* Body/Small/Regular/Condensed */
font-family: 'Cabin';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: -0.02em;

/* Font/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
